.parrafotext{
    margin-left: 70px !important;
    margin-top: 60px !important;
    @media (max-width: 360px) {
        text-align: center;
        margin-left: 0px !important;
        margin-top: 25px !important;
    }
}
.parrafotext2{
    margin-left: 70px !important;
    margin-top: 60px !important;
    @media (max-width: 360px) {
        margin-left: 0px !important;
        margin-top: 25px !important;
    }
}
.parrafotext3{
    margin-left: 180px !important;
    margin-top: -130%;
    @media (max-width: 360px) {
        margin-left: 0px !important;
        margin-top: -120% !important;
    }
}
.parrafotext4{
    margin-right: 50px !important;
    margin-top: 60px !important;
    @media (max-width: 360px) {
        text-align: center;
        margin-left: 0px !important;
        margin-top: 25px !important;
    }
}
.parrafotext5{
    margin-left: 100px !important;
    margin-top: 60px !important;
    align-items: end;
    @media (max-width: 360px) {
        text-align: center;
        margin-left: 0px !important;
        margin-top: 25px !important;
    }
}
.parrafotext6{
    margin-left: 130px !important;
    margin-top: 60px !important;
    @media (max-width: 360px) {
        margin-left: 0px !important;
        margin-top: 5px !important;
    }
}
.parrafotext7{
    margin-right: 120px !important;
    margin-top: 10px !important;
    @media (max-width: 360px) {
        margin-left: 0px !important;
        margin-top: -95px !important;
    }
}
.parrafotext8{
    text-align: center;
    font-size: 70px;
    margin-right: -25px !important;
    margin-top: 80px !important;
    @media (max-width: 360px) {
        text-align: center;
        font-size: 50px;
        margin-left: 0px !important;
        margin-top: -95px !important;
    }
}
.parrafotext9{
    margin-left: 100px !important;
    margin-top: 140px !important;
    @media (max-width: 360px) {
        margin-left: 0px !important;
        margin-top: 55px !important;
    }
}
.parrafotext10{
    margin-left: 100px !important;
    margin-top: 140px !important;
    @media (max-width: 360px) {
        margin-left: 0px !important;
        margin-top: -195px !important;
    }
}
.parrafotext11{
    margin-left: 100px !important;
    margin-top: 140px !important;
    @media (max-width: 360px) {
        margin-left: 0px !important;
        margin-top: 55px !important;
        text-align: center;
    }
}
.subtitulo2{
    font-size: 72px;
    margin-top: 30px !important;
    line-height: 1 !important; 
    @media (max-width: 360px) {
        margin-left: 0px !important;
        font-size: 45px ;
        margin-top: 25px !important;
    }
}
.subtitulo3{
    font-size: 72px;
    margin-top: 30px !important;
    line-height: 1 !important; 
    @media (max-width: 360px) {
        margin-left: 0px !important;
        font-size: 45px ;
        margin-top: 25px !important;
    }
}
.texto-parrafo3{
    font-size: 18px;
    margin-top: 40% !important;
    margin-left: 90px !important;
    @media (max-width: 360px) {
        margin-left: 0px !important;
        font-size: 15px ;
        margin-top: 10% !important;
    }
}
.texto-parrafo4{
    font-size: 18px;
    margin-top: 10% !important;
    margin-left: 20px !important;
    @media (max-width: 360px) {
        margin-left: 0px !important;
        font-size: 15px ;
        margin-top: 30px !important;
    }
}
.pading{
    padding: 100% !important;
}
.color-columa{
    background-color: #d7effe;
    margin-right: 23px;
}
.color-columa2{
    background-color:#dfddb3;
    margin-top: 10% ;
    margin-right: 23px;
}
.style-columna{
    margin-top: -80% !important ;
    background-color: #e5f1f8;
    margin-right: 25px;
    @media (max-width: 360px) {
        margin-top: 10% !important ;
    }
}
.video-style{
    width: auto !important;
    height: 850px !important;
    margin-left: 20px !important;
    @media (max-width: 360px) {
        width: auto!important;
        height: 600px !important;
        padding: 0px;
        margin-left: 0px !important;
        margin-top: 0px !important;
    }
}
.video-style2{
    width: auto !important;
    height: 550px !important;
    margin-left: 100px !important;
    margin-top: -270%;
    @media (max-width: 360px) {
        width: auto!important;
        height: 400px !important;
        padding: 0px;
        margin-left: 0px !important;
        margin-top: -10% !important;
    }
}
.video-style3{
    width: auto !important;
    height: 600px !important;
    margin-left: 100px !important;
    margin-top: 30%;
    @media (max-width: 360px) {
        width: auto!important;
        height: 600px !important;
        margin-left: 10px !important;
        margin-top: -100px !important;
    }
}
.video-style4{
    margin-left: -15px;
    margin-top: 10%;
    @media (max-width: 360px) {
        width: auto!important;
        height: 600px !important;
        margin-left: 10px !important;
        margin-top: -70px !important;
    }
}
.video-style5{
    width: auto !important;
    height: 800px !important;
    margin-right: -90px !important;
    margin-top: 10%;
    @media (max-width: 360px) {
        width: auto!important;
        height: 600px !important;
        margin-left: 10px !important;
        margin-top: -70px !important;
    }
}
.top{
    margin-top: 150px !important;
    font-size: 72px;
    margin-top: 30px !important;
    line-height: 1 !important; 
    @media (max-width: 360px) {
        margin-left: 0px !important;
        font-size: 45px ;
        margin-top: 25px !important;
        text-align:justify;
    }
}
.img28{
    @media (max-width: 360px) {
        width: 340px !important; /* Tamaño para pantallas más pequeñas */
        height: 350px !important; /* Tamaño para pantallas más pequeñas */
        margin-left: 0px !important;
    }
}
.img32{
    margin-top: 0% !important;
    margin-left: 60px;
    @media (max-width: 360px) {
        width: 340px !important; /* Tamaño para pantallas más pequeñas */
        height: 350px !important; /* Tamaño para pantallas más pequeñas */
        margin-left: 0px !important;
        margin-top: 15% !important;
    }
}
.img34{
    width: 370px !important;
    margin-top: 15% !important;
    margin-left: 190px;
    @media (max-width: 360px) {
        width: 250px !important; /* Tamaño para pantallas más pequeñas */
        height: 250px !important; /* Tamaño para pantallas más pequeñas */
        margin-left: 40px !important;
    }
}
.img35{
    width: 100% !important;
    height: 600px !important;
    margin-left:0px;
    @media (max-width: 360px) {
        width: 250px !important; /* Tamaño para pantallas más pequeñas */
        height: 250px !important; /* Tamaño para pantallas más pequeñas */
        margin-left: 40px !important;
    }
}
/* styles.css */

    .slide-show-animation {
        width: auto !important;
        height: 30% !important;
        -webkit-animation: slide-show-animation 12s cubic-bezier(0.680, -0.550, 0.265, 1.550) infinite;
        animation: slide-show-animation 12s cubic-bezier(0.680, -0.550, 0.265, 1.550) infinite;
        background-size:220px; /* Controla el tamaño de la imagen de fondo */
        background-repeat: no-repeat; 
        background-position:center;
        @media (max-width: 360px) {
            background-size:90px; /* Controla el tamaño de la imagen de fondo */
            margin-top: -10% !important;
        }
        
      }
  
  /* Definir la animación */
  @keyframes slide-show-animation {
    0%, 25% {
       /* Cambia a tu primera imagen */
        background-color: rgb(187, 215, 236);
        background-image: url('/public/assets/img/img30.png');
    }
      50%, 75% {
        background-color: rgb(255, 221, 177);
        background-image: url('/public/assets/img/img31.png');
      }
      100% {
        background-color: rgb(255, 207, 249);
        background-image: url('/public/assets/img/img29.png');
        
      }
  }
//   invertir columas
  @media (max-width: 360px) {
    .row-invertir {
        flex-direction: column-reverse; /* Invierte el orden de las columnas */
    }
}
@media (max-width: 360px) {
  .row-invertir2 {
      flex-direction: column-reverse; /* Invierte el orden de las columnas */
  }
}
@media (max-width: 360px) {
    .row-invertir3 {
        flex-direction: column-reverse; /* Invierte el orden de las columnas */
    }
}
.button-stayles{
    margin-left: 35% !important;
    background: #073042;
    margin-top: 25px !important;
    @media (max-width: 360px) {
        // width: 80px; /* Tamaño para pantallas más pequeñas */
        // height: 48px; /* Tamaño para pantallas más pequeñas */
        margin-left: 0px !important;
        padding: 0px !important;
        margin-top: 20%;
    }
} 

  